* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: "Archangelsk";
  src: url("/fonts/archangelsk.ttf");
}
.header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header-more {
  margin-left: auto;
  width: 625px;
  height: 360px;
  margin-top: 528px;
  background-color: #F8F200;
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
          clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
  padding: 70px;
}
.header-more__title {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63.3px;
}
.header-more__button {
  font-family: "Roboto" sans-serif;
  color: #F8F200;
  padding: 19px 50px;
  background-color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-top: 25px;
}

.social {
  display: inline;
  margin-right: 40px;
}
.social-last {
  display: inline;
  margin-right: 0px;
}

.about {
  margin-top: 70px;
  position: relative;
}
.about-title {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63.3px;
}
.about-sub-title {
  font-family: "Roboto" sans-serif;
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 70px;
}
.about-sub-title span {
  color: #52BEDC;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.first-block {
  display: flex;
  flex-direction: column;
}

.screenshot1 {
  margin-top: 32px;
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
          clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
}

.screenshot {
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
          clip-path: polygon(8% 0, 100% 0, 100% 82%, 91% 100%, 0 100%, 0 14%);
}

.zerno {
  width: 100%;
  position: absolute;
  bottom: -140px;
}

.promotion {
  background-color: black;
  position: relative;
}
.promotion-header {
  display: flex;
}
.promotion-title {
  color: white;
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63.3px;
  margin-left: 32px;
}
.promotion-sub-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.promotion-sub-title span {
  color: #52BEDC;
}
.promotion-wrapper {
  display: flex;
  justify-content: space-between;
}
.promotion-input {
  background: none;
  width: 460px;
  border: #777777 1px solid;
  border-left: none;
  border-top: none;
  border-right: none;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  margin-bottom: 35px;
}
.promotion-form {
  padding-top: 73px;
}

.person-button {
  background-color: #F8F200;
  padding: 19px 50px;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  margin-bottom: 15px;
}
.person-text {
  color: #FFFFFF;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14.06px;
}
.person-input {
  margin-right: 10px;
  margin-bottom: 70px;
}

.add {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 460px;
  height: 120px;
  border: 2px #777777 dashed;
  align-items: center;
  margin-bottom: 35px;
}
.add span {
  color: #FFFFFF;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
}
.add span1 {
  color: #FFFFFF;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 21.09px;
}

.zerno1 {
  width: 100%;
  position: absolute;
  margin-bottom: -69px;
  -o-object-fit: cover;
     object-fit: cover;
}

.monitor {
  background-color: #F8F200;
  padding-top: 140px;
  padding-bottom: 70px;
}
.monitor-wrapper {
  display: flex;
  justify-content: space-between;
}
.monitor-about {
  max-width: 625px;
}
.monitor-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.monitor-icon {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin-top: 25px;
}
.monitor-title {
  color: black;
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  line-height: 63.3px;
  margin: 0;
}
.monitor-sub-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: black;
}
.monitor-character {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.monitor-character__image {
  margin-right: 10px;
}
.monitor-character__text {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}
.monitor-button {
  font-family: "Roboto" sans-serif;
  color: #F8F200;
  padding: 19px 50px;
  background-color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  max-width: 195px;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */